
                    <div class="dropdown-menu megamenu" role="menu">
                    <div class="row g-3">
                        <div class="col-lg-3 col-6">
                            <div class="col-megamenu">
                                <h6 class="title">Title Menu One</h6>
                                <ul class="list-unstyled">
                                   {% for link in linklists.underwear.links %}
                                    <li {% if link.active %} class="active {% if link.child_active %}child-active{% endif %}" {% endif %}>
                                        <a class="parent-link" href="{{ link.url }}">{{ link.title }}</a>
                                        {% if link.links != blank %}
                                            <ul class="child mt-5">
                                                {% for child_link in link.links %}
                                                    <li {% if child_link.active %} class="active {% if child_link.child_active %}child-active{% endif %}" {% endif %}>
                                                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                                                        {% if child_link.links != blank %}
                                                            <ul class="grandchild">
                                                                {% for grandchild_link in child_link.links %}
                                                                    <li {% if grandchild_link.active %} class="active {% if grandchild_link.child_active %}child-active{% endif %}" {% endif %}>
                                                                        <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>  <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                        <div class="col-lg-3 col-6">
                            <div class="col-megamenu">
                                <h6 class="title">Title Menu Two</h6>
                                <ul class="list-unstyled">
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                </ul>
                            </div>  <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                        <div class="col-lg-3 col-6">
                            <div class="col-megamenu">
                                <h6 class="title">Title Menu Three</h6>
                                <ul class="list-unstyled">
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                </ul>
                            </div>  <!-- col-megamenu.// -->
                        </div>    
                        <div class="col-lg-3 col-6">
                            <div class="col-megamenu">
                                <h6 class="title">Title Menu Four</h6>
                                <ul class="list-unstyled">
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                    <li><a href="#">Custom Menu</a></li>
                                </ul>
                            </div>  <!-- col-megamenu.// -->
                        </div><!-- end col-3 -->
                    </div><!-- end row --> 
                </div> <!-- dropdown-mega-menu.// -->