<style>
.header .cartbg {
    background: url('{{ "css_sprites.png" | asset_url }}') -130px -10px;
    background-repeat: no-repeat;
    width: 33px;
    height: 42px;
    display: flex;
    position: relative;
    align-items: center;
    font-size: 1.2rem;
    font-family: var(--headerfont);
    font-weight: var(--medium);
    cursor: pointer;
}
</style>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    /////// Prevent closing from click inside dropdown
    document.querySelectorAll('.dropdown-menu').forEach(function(element) {
        element.addEventListener('click', function(e) {
            e.stopPropagation();
        });
    })
});
// DOMContentLoaded  end
</script>
<!-- ============= COMPONENT END// ============== -->
</div><!-- container //  -->
<div class="container">
    <div class="row header align-items-center text-center">
        <div class="col cartclose">
            <div class="d-none d-md-block topdealtext">Everyday we launch<br />
                a new
                <span class="heavy">underwear</span><br />daily deal!
            </div>
            <div class="show-mobile-menu">
                <a href="#my-menu">
                    <svg class="bi bi-list" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.5 13.5A.5.5 0 015 13h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 9h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 5h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="col cartclose">
            <div class="logo mx-auto">
                <a href="{{ shop.url }}">
                    <img alt="{{ shop.name }}" class="" src="{{ 'culogo@2x.png' | asset_url }}" itemprop="logo" width="175" height="67">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="cartbg mx-auto" id="carticon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <a class="mx-auto" id="counter" title="Shopping Cart Link" data-ajax-cart-bind-state="cart.item_count"></a>
            </div>
        </div>
    </div>
</div>
<div class="container bg-white d-none d-md-block cartclose" id="header">
    <div class="row align-items-center nav">
        <div class="col-12">
            <div class="d-flex navbar">
                {% assign menu = linklists.main-menu %}
                <ul class="nav my-auto mx-auto">
                    {% for link in menu.links %}
                    <li class="{%- if link.active or link.child_active -%} nav-item--active{%- endif -%} mens parent">
                        <a class="nav-link mens" {%- if link.title =='Mens' -%} id="mens" data-bs-toggle="dropdown" {%- endif -%} href="{%if link.title == 'Mens' %}#{% else %}{{ link.url }}{% endif %}">
                            <span class="{%- if link.active or link.child_active  -%} nav-link--active{%- endif -%}">{{ link.title }} {%if link.title == 'Mens' %}<i class="lni lni-chevron-down"></i>{% endif %}</span>
                        </a>
                        {%if link.title == 'Mens' %} {% render "mega" %} {% endif %}
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </div>
</div>
