<style>
.sizelabel {
      
    font-weight: 500;
}
.progress {
         border-radius: 0rem;
             margin: 2px;
}
.button.button-3d {
        font-weight: 500;
}
.labelname {
        font-size: 13px;
}
</style>

<div class="row">
    <div class="col-12 mt-4">
        <div class="row">
            <div class="col-6 sizelabel text-start text-uppercase align-middle">
                Select Size:
            </div>
            <div class="col-6 sizelabel text-end text-uppercase align-middle">
                {%- include 'product-size-guide' -%}
            </div>
        </div>
        <div class="options text-center mt-5">
            {%- assign total = 0 %}
            {%- for variant in product.variants -%}
            {%- unless variant.inventory_management == '' -%}
            {%- capture temp -%}{{ total | plus: variant.inventory_quantity }}
            {%- endcapture -%}
            {%- assign total = temp -%}
            {%- endunless -%}
            {%- endfor -%}
            {%- assign fulltotal = total | plus:0 -%}
            {% form 'product', product, id: "oldID", class: "old-class", data-cart-submit: "data-cart-submit" %}
            <ul class="variant_selector variant-size mt-2 mb-1 h-100 px-0">
                {% for variant in product.variants %}
                {% assign single = variant.title | downcase %}
                <li class="mb-3">
                    <input id="{{variant.id}}" type="radio" data-id="{{ variant.id }}" name="id" value="{{ variant.id }}" {% if variant.inventory_quantity <=0 %} disabled="disabled" {% endif %} />
                    <label class="comman_class {% if variant.inventory_quantity <= 0 %}soldout{% endif %}" for="{{ variant.id }}">
                         <div class="labelname text-uppercase">{{ variant.title | downcase }}
                                                    <div class="labelqty">
                                                        {% if variant.inventory_quantity >= 30 %}
                                                            In Stock
                                                            {% elsif variant.inventory_quantity <= 0 %}Sold Out
                                                        {% else %}
                                                            {{ variant.inventory_quantity }}
                                                            Left{% endif %}
                                                    </div>
                                                    {% assign qty = variant.inventory_quantity %}
                                                    {% if qty <= 25 %}
                                                        {% assign status = 'bg-danger infinite flash' %}
                                                        {% elsif qty <= 40 %}
                                                        {% assign status = 'bg-warning infinite flash slower' %}
                                                        {% elsif qty <= 100 %}
                                                        {% assign status = 'bg-success' %}
                                                    {% else %}
                                                        {% assign status = 'bg-success' %}
                                                    {% endif %}
                                                    <div class="progress" style="height: 7px;">
                                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar {{ status }} progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ qty }}%;"></div>
                                                    </div>



                                                </div>
                     <!--    <div class="labelname text-uppercase">{{ variant.title | downcase }}
                        </div> -->
                    </label>
                </li>
                {% endfor %}
            </ul>
 <!--            <div class="row mt-3">
                <div class="col-12 w-75 mx-auto mx-md-start">
                    <div id="stock-level">
                        {% for variant in product.variants %}
                        {% assign single = variant.title | downcase %}
                        <div class="{{variant.id}} stocky stockyname text-uppercase" style="display: none;">
                            <div class="stockyqty">
                                {% if variant.inventory_quantity >= 50 %}
                                <span class="fw-bold">{{ variant.title }}</span> In Stock
                                {% elsif variant.inventory_quantity >= 20 and variant.inventory_quantity <= 50%} <span class="fw-bold">{{ variant.title }}</span> Low Stock {% elsif variant.inventory_quantity> 0 and variant.inventory_quantity <= 20%} Hurry Only <span class="fw-bold">{{ variant.inventory_quantity }} {{ variant.title }}</span> Left In Stock {% elsif variant.inventory_quantity <=0 %} Sold Out {% endif %} </div> {% assign qty=variant.inventory_quantity %} {% if qty>=50 %}
                                            {% assign status='bg-success' %}
                                            {% elsif qty >=30 %}
                                            {% assign status='bg-warning infinite flash slower' %}
                                            {% elsif qty <=30 %} {% assign status='bg-danger infinite flash' %} {% endif %} <div class="progress">
                                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar {{ status }} progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ qty }}%;"></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div> -->
            <div data-ajax-cart-messages="form"></div>
            <div class="row pt-2 align-items-end">
                <div class="col-3">
                    <label for="Quantity" class="sizelabel text-uppercase">Quantity:</label>
                   
                    <input type="number" id="Quantity" name="quantity" value="1" min="1"  class="product-form__input form-control " pattern="[0-9]*" {% if product.available == false %} disabled{% endif %} />
                </div>
                <div class="col-9">
                    <button class="btn button button-3d button-red js-ajax-cart-form-in-progress" disabled="disabled" id="AddToCart" name="add" type="submit">
                        <i class="lni lni-add-cart"></i>
                        {% if product.available == false %} Sold Out {% else %} Add to Cart {% endif %}</button>
                  
                </div>
            </div>
                      <div class="row mt-4">
 <div class="col-12">
   <div class="text-center mb-2">Or Quick Buy </div>
                          {{ form | payment_button }}
                          <hr>
            {{ form | payment_terms }}
                        </div>
          </div>
            {% endform %}
        </div>
    </div>
</div>


     <div class="row">
                <div class="col-12 mt-3 d-none d-md-block text-left">
                    <hr>
                    <h4>Share this Product</h4>
                 <div class="mt-0 mb-2 addthis_inline_share_toolbox_hd22"></div>
                    <hr>
                </div>
            </div>

