<div class="row">
    <div class="col-12">
        <div class="easyzoom easyzoom--overlay" id="ProductPhoto">
            <a href="{{ product.featured_image.src | img_url: 'master'}}">
                <img class="img-fluid shirt lazyload" src="{{ product.featured_image.src | img_url: '1x'}}" data-src="{{ product.featured_image.src | img_url: '400x'}}" alt="{{ product.title }} Featured Image">
            </a>
        </div>
        {% if product.available %}
            {%- if product.images.size > 1 -%}
                <div class="product-thumbs text-center ">
                    <ul id="lightSlider">
                        {%- for image in product.images -%}
                            {% if product.options.first and product.options.first == "Color" %}
                                <li>
                                    <a data-color="{%- for variant in image.variants -%}{{ variant.option1 }} {%- endfor -%}" data-image="{{ image.src | img_url: '400x' }}" data-zoom-id="thumbs" href="{{ image.src | product_img_url: 'master' }}">
                                        <img class="lazyload" src="{{ product.featured_image.src | img_url: '1x' }}" data-src="{{ image.src | img_url: '50x' }}" alt="{{ product.title }} Image {{ image.position }}"/>
                                    </a>
                                </li>
                            {%- else -%}
                                <li>
                                    <a data-color="{%- for variant in image.variants -%}{{ variant.option2 }} {%- endfor -%}" data-image="{{ image.src | img_url: '400x' }}" data-zoom-id="thumbs" href="{{ image.src | product_img_url: 'master'  }}">
                                        <img class="lazyload" src="{{ image.src | img_url: '1x' }}" data-src="{{ image.src | img_url: '50x' }}" alt="{{ product.title }} Image {{ image.position }}"/>
                                    </a>
                                </li>
                            {%- endif -%}
                        {%- endfor -%}
                    </ul>
                </div>
            {%- endif -%}
        {%- endif -%}
    </div>
</div>