<div class="product-list card rounded mb-3">
    <a href="{{ product.url }}" title="{{ product.title }}">
        <img alt="{{ product.title }}" class="lazyload img-fluid" data-src="{{ product.featured_image.src | img_url: '235x', format: 'pjpg'}}"/>
    </a>
     {% if cart.total_price < 2500 %}
        <div class="freebie-status-tag rounded">
          {% if cart.total_price == 0 %}
            <span><strong>Spend $25 </strong><br>To Unlock This Freebie</span>
            {% elsif cart.total_price < 2500 %}
            <span><strong>Add <strong>{{ 2500 | minus: cart.total_price | money }}</strong> More to Cart </strong><br>To Unlock This Freebie</span>
            {% endif %}
            
           </div>
        {% endif %}
    <div class="row align-items-center">
        <div class="col-12">
            <div class="card-body">
                <div class="row gutter-10">
                    {% unless product.type == 'M Gifts' or product.type == 'M Accessories' -%}
                        <div class="size_view">
                            <ul>
                                {% for variant in product.variants %}
                                    {% if variant.available and variant.title != 'One Size' %}
                                        <li class="my-auto" selected="selected" value="{{ variant.id }}">
                                            <div class="my-auto">{{ variant.title | downcase | replace: 'xsmall', 'xs' |replace: 'small', 'sm' | replace: 'medium','md' | replace: 'large','lg' | replace: 'xlarge','xl' | replace: 'xxlarge','xxl' | replace: 'default title','ONE SIZE' | replace: 'default size','ONE SIZE' }}</div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endunless %}
                    <div class="col-12  h-100 d-table">
                          <span class="product-col-title d-table-cell align-middle">
                            <a href="{{ product.url }}" title="{{ product.title }}">
                                {{ product.title | truncate: 60 }}</a>
                        </span>
                    </div>
                    <div class="col-12">
                        <div class="product-col-price">
                            <span class="price-color">
                                {%- if product.price == 0.00 -%}FREE{%- else -%}{{ product.price | money }}
                                {%- endif -%}
                            </span>
                            {%- if product.compare_at_price_max > product.price -%}
                                <span class="d-none d-md-inline-block was-color">
                                    <del>{{ product.compare_at_price_max | money  }}</del>
                                </span>
                                <span class="save-color">{{ product.compare_at_price_max | minus:product.price | times:100 | divided_by:product.compare_at_price_max }}% OFF</span>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>