<!-- <div class="row mt-4">
    <div class="col-12">
        <div class="fancy-title text-center">
            <span>We <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10 3.314C14.438-1.248 25.534 6.735 10 17-5.534 6.736 5.562-1.248 10 3.314z" clip-rule="evenodd"></path>
</svg> Attention</span>
        </div>
    </div>
</div>
<div class="row align-items-center mb-3">
    <div class="col-6 col-md-2">
        <a href="/blogs/media/press-richmond-duo-reveals-first-daily-deals-site-for-underwear" title="First Underwear Daily Deal Site">
            <img alt="Washington Post Article" class="img-fluid" src="{{ 'washington-post-logo.png' | asset_url }}" loading="lazy"/></a>
    </div>
    <div class="col-6 col-md-2">
        <a href="https://www.cheapundies.com/blogs/media/press-now-there-s-a-daily-deal-site-for-underwear" title="Daily Deal Site for Underwear">
            <img alt="Time Magazine Underwear News" class="img-fluid" src="{{ 'time-logo.png' | asset_url }}" loading="lazy"></a>
    </div>
    <div class="col-6 col-md-2">
        <a href="/blogs/media/press-cheapundies-com-the-deals-site-for-lingerie-lovers" title="Daily Deal Site for Lingerie Lovers"><img alt="Business Insider Press Article" class="img-fluid" src="{{ 'business-insider-logo.png' | asset_url }}" loading="lazy"></a>
    </div>
    <div class="col-6 col-md-2">
        <a href="/blogs/media/press-spend-less-on-undergarments" title="Spend Less On Underwear">
            <img alt="NBC Press Article" class="img-fluid" src="{{ 'nbc-logo.png' | asset_url }}" loading="lazy"></a>
    </div>
    <div class="col-6 col-md-2">
        <a href="/blogs/media/press-cheapundies-com-pretty-much-just-won-the-mannequin-challenge" title="CheapUndies Just Won The Mannequin Challenge"><img alt="LogoTv Press Article" class="img-fluid" src="{{ 'logotv-logo.png' | asset_url }}" loading="lazy"></a>
    </div>
    <div class="col-6 col-md-2">
        <img alt="America News Now" class="img-fluid" src="{{ 'anm-logo.png' | asset_url }}" loading="lazy">
    </div>
</div>
 -->

<section class="features-area features-thirteen">
   <!--======  Start Section Title Four ======-->
   <div class="section-title-four">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="content">    <div class="redbar">
                  <div class="headline">We <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10 3.314C14.438-1.248 25.534 6.735 10 17-5.534 6.736 5.562-1.248 10 3.314z" clip-rule="evenodd"></path>
</svg> Attention </div>
      </div>
                  <h3 class="gray-bg">PRESS</h3>
                  <p>
      CheapUndies absolutely adores press. You gotta love a gossip queen and we are dying to be talked about! Good... bad... its all the same to us, we just want to be noticed.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <!-- container -->
   </div>

      <div class="row">
         <div class="col-md-3 col-6">
            <div class="single-client text-center">
             <a href="/blogs/media/press-richmond-duo-reveals-first-daily-deals-site-for-underwear" title="First Underwear Daily Deal Site">
            <img alt="Washington Post Article" class="img-fluid" src="{{ 'washington-post-logo.png' | asset_url }}" loading="lazy"/></a>
            </div>
            <!-- single client -->
         </div>
         <div class="col-md-3 col-6">
            <div class="single-client text-center">
              <img alt="America News Now" class="img-fluid" src="{{ 'anm-logo.png' | asset_url }}" loading="lazy">
            </div>
            <!-- single client -->
         </div>
         <div class="col-md-3 col-6">
            <div class="single-client text-center">
               <a href="https://www.cheapundies.com/blogs/media/press-now-there-s-a-daily-deal-site-for-underwear" title="Daily Deal Site for Underwear">
            <img alt="Time Magazine Underwear News" class="img-fluid" src="{{ 'time-logo.png' | asset_url }}" loading="lazy"></a>
            </div>
            <!-- single client -->
         </div>
         <div class="col-md-3 col-6">
            <div class="single-client text-center">
                <a href="/blogs/media/press-cheapundies-com-the-deals-site-for-lingerie-lovers" title="Daily Deal Site for Lingerie Lovers"><img alt="Business Insider Press Article" class="img-fluid" src="{{ 'business-insider-logo.png' | asset_url }}" loading="lazy"></a>
            </div>
            <!-- single client -->
         </div>
           <div class="col-md-3 col-6">
            <div class="single-client text-center">
              <a href="/blogs/media/press-spend-less-on-undergarments" title="Spend Less On Underwear">
            <img alt="NBC Press Article" class="img-fluid" src="{{ 'nbc-logo.png' | asset_url }}" loading="lazy"></a>
            </div>
            <!-- single client -->
         </div>
           <div class="col-md-3 col-6">
            <div class="single-client text-center">
                 <a href="/blogs/media/press-cheapundies-com-pretty-much-just-won-the-mannequin-challenge" title="CheapUndies Just Won The Mannequin Challenge"><img alt="LogoTv Press Article" class="img-fluid" src="{{ 'logotv-logo.png' | asset_url }}" loading="lazy"></a>
            </div>
            <!-- single client -->
         </div>
      </div>
</section>