

{% assign vendor = product.vendor %}
{% assign vendor_handle = vendor | handleize %}
{% assign handle = product.handle %}
{% assign counter = '' %}
<div class='row mt-5 gutter-10'>
{% for collection in collections %}
{% for product in collections[vendor_handle].products %}
  {% if vendor == product.vendor and counter.size < 50 and handle != product.handle %}
  {% capture temp %}{{ counter }}*{% endcapture %}
  {% assign counter = temp %}
    <div class='col-6 col-md-3 text-center mb-3 mix  size-one size'>   
      <a href="{{ product.url | within: collection }}" title="{{ product.title }}"> 
        <img src="{{ product.images.first | product_img_url: 'small' }}" alt="{{ product.title }}" />
      </a>  
        <div class='row'>
        	<a href="{{ product.url | within: collection }}" title="{{ product.title }}"> 
        {{ product.title }}
      </a>         
      </div> 
      <div class="row align-items-center">
                        <div class="{% if product.compare_at_price > product.price %} col-12 {% else %} col-12 {% endif %} text-center">
                            <!--   <div class="percent">
                             Price</div> -->
                            <div class="price2 mb-1">
                                {%- if product.price == 0.00 -%}
                                    FREE{%- else -%}
                                    {{ product.price | money }}
                                {%- endif -%}
                            </div>
                            {%- if product.compare_at_price > product.price -%}
                                <div class="price3">
                                    <s>{{ product.compare_at_price_max | money  }}</s>
                                    /
                                    {{ product.compare_at_price_max | minus:product.price | times:100 | divided_by:product.compare_at_price_max }}% Off
                                </div>
                            {%- endif -%}
                        </div>
                        {% comment %}
                            {%- if product.compare_at_price > product.price -%}
                            <div class="col-3 text-center">
                              <!--   <div class="percent">
                                  Retail</div> -->
                                <div class="price3">
                                    <s>{{ product.compare_at_price_max | money  }}
                                    </s>
                                </div>
                            </div>
                            <div class="col-3 text-center">
                              <!--   <div class="percent">Discount</div > -->
                                <div class="price3 d-none d-md-inline">
                                    {{ product.compare_at_price_max | minus:product.price | times:100 | divided_by:product.compare_at_price_max }}% OFF
                                </div>
                                <div class="price3 d-sm-inline d-md-none">
                                    {{ product.compare_at_price_max | minus:product.price | times:100 | divided_by:product.compare_at_price_max }}%
                                </div>
                            </div>
                            <div class="col-3 text-center">
                              <!--   <div class="percent">You Save</div> -->
                                <div class="price3">
                                    {{ product.compare_at_price_max | minus:product.price | money }}
                                </div>
                            </div>
                        {%- endif -%}
                        {% endcomment %}
                    </div>
  </div>  
  {% endif %} 
{% endfor %}     
{% endfor %}
</div>