{% capture end %}{{ collection.metafields.dailydeal.switched_at | date: "%Y/%m" }}/{{ collection.metafields.dailydeal.switched_at | date: "%d" | plus: 7 }}{% endcapture %}
{% capture deal %}{{ collection.metafields.dailydeal.dailydeal }}{% endcapture %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  var endParts = '{{end}}'.split('/');
  var endDate = new Date(endParts[0], endParts[1] - 1, endParts[2]);
  // force noon cutoff
  endDate.setHours(12, 0, 0, 0);

  var hideTimeLeft = function() {
    document.querySelectorAll('.time-left').forEach(function(el){ el.style.display = 'none'; });
  };
  var showTimeLeft = function() {
    document.querySelectorAll('.time-left').forEach(function(el){ el.style.display = ''; });
  };

  var format = {% if collection.metafields.dailydeal.dailydeal contains "deal6" %}'%H:%M:%S'{% else %}'%-D days %H:%M:%S'{% endif %};

  if (window.startCountdown) {
    startCountdown('{{ collection.metafields.dailydeal.dailydeal }}', endDate, format, {
      onFinish: hideTimeLeft,
      onUpdate: showTimeLeft
    });
  }
});
</script>
<span id="{{ collection.metafields.dailydeal.dailydeal }}"></span>