<article class="maindeal border mb-4">
    <div class="deal-womens">
        <a href="/collections/{{ collection.handle }}" title="{{ collection.title }}">
            <img class="img-fluid lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ collection.image | img_url: '600x400' }}" alt="{{ collection.image.alt | escape }}">
        </a>
    </div>
    <div class="des bg-light">
        <div class="row h-100">
            <div class="{% if featured == true %} col-12  {% else %} col-8  {% endif %} my-auto">
                <div class="dealinfo">
                    <div class="dealtitle">
                        <h1>
                            <a href="/collections/{{ collection.handle }}" title="{{ collection.title }}">{{ collection.title }}</a>
                        </h1>
                    </div>
                    <div class="preview">
                        <h2>{{ collection.description | split: '<!-- split -->' | first }}</h2>
                    </div>
                </div>
            </div>
            <div class="col-4 text-right  my-auto">
                <div class="countdown">
                    <div class="title">Time Left:</div>
                    <div class="time">
                        {% if soldout %}
                            <span>Sold Out!</span>
                        {% else %}
                            {%- include 'timelft' -%}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>