<div class="row">
    <div class="col-12 padding-0">
        <header class="section__head">
            <img src="{{ 'header12.png' | asset_url }}" data-was-processed="true">
            <div class="section__head-inner">
                <div class="textwrap align-bottom">
                    <h1 class="section__title">{{ blog.title }}</h1><!-- /.section__title -->
                </div>
            </div><!-- /.section__head-inner -->
        </header>
    </div>
</div>
<div class="row justify-content-center pages blog">
    <div class="col-11    {% if blog.handle == 'media' %}col-md-10{% else %}col-md-12{% endif %} mt-3">
        {% if blog.handle == 'media' %}
        <p>CheapUndies absolutely adores press. You gotta love a gossip queen and we are dying to be talked about! Good... bad... its all the same to us, we just want to be noticed. The underwear mafias goal is to make CheapUndies a common and recognizable topic. you know like the weather or the government... So be sure the next time your out and about you mention how hot you look in your CheapUndies - this will make others want to see you in your underwear because they know how good you look which in the long run will make you more popular. Its the perfect plan but we need your help...Tell everyone about CheapUndies! Seriously though, we do want to say thank you to everyone who has blogged or wrote about us. We love what you have to say and really appreciate your words. Thanks guys and please keep it up!
        </p>
        {% endif %}
        {% paginate blog.articles by 24 %}
        <section class="card-area pb-5">
            <div class="container">
                <div class="row justify-content-center">
                    {% for article in blog.articles %}
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="single-card card-style-one">
                            <div class="card-image">
                            <a href="{{ article.url }}" class="stretched-link">    <img src="{{ article.image.src | img_url: '295x175', crop: 'center' }}" alt="Image" /></a>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="{{ article.url }}" class="stretched-link"> {{ article.title | escape }}</a>
                                </h4>
                                <p class="text">
                                    {{ article.excerpt_or_content | strip_html | truncate: 110 }}
                                </p>
                            </div>
                        </div>
                        <!-- single-card -->
                    </div>
                    {% endfor %}
                    <!-- row -->
                </div>
            </div>
            <!-- container -->
        </section>
        <div class="col-12 mb-3">
            <div class="text-center">
                {% include 'pagination' with 'post' %}
            </div>
        </div>
        {% endpaginate %}
    </div>
</div>

{% schema %}
{
  "name": "Main blog",
  "settings": []
}
{% endschema %}

